body {
    font-weight: 300;
    font-family: 'Noto Sans JP', sans-serif;
    color: rgba(0, 0, 0, 0.7);
    margin: 0px;
}

a {
    color: black;
}

a:hover {
    color: black;
}

a:visited {
    color: black;
}

.toufu-jp-font {
    font-size: 92%;
    line-height: 1.85rem;
    color: rgba(0, 0, 0, 0.7);
}

.toufu-jp-small-font {
    font-size: 70%;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
    outline: none;
}


button.navbar-toggler:focus{
    outline:none;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/*↓↓↓　video関係　↓↓↓*/

.toufu-box{
    position: relative;
    height: 95vh;
}

.video-box {
    position: fixed;
    z-index: -1;/*最背面に設定*/
    top: 0;
    right:0;
    left:0;
    bottom:0;
    overflow: hidden;
}

.video {
    /*天地中央配置*/
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
}


.video-text {
    /*要素の配置*/
    position:absolute;
    /*要素を天地中央寄せ*/
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    /*見た目の調整*/
    color:#fff;
    text-shadow: 0 0 15px #666;
}


/*↑↑↑　video関係　↑↑↑*/



/*↓↓↓　背景画像　↓↓↓*/

.toufu-jumbo-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.toufu-jumbo-cover::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* 背景にグラデーションを入れる */
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
}

/*↑↑↑　背景画像　↑↑↑*/


/*　ナビゲーションバー　*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255, 0.95);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
position: relative;
top: 25%;
width: 100%;
left: 5rem;
margin-top: 0px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: large;
    color: black;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: black;
}

.overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 45px;
    font-size: 35px;
    padding-top: 0px;
}


/*　正方形方の画像　*/
.toufu-img-box {
    position: relative;
}

.toufu-img-box::before{
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%;
}

.toufu-img-box-inside {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* タイトルの固定背景画像 */

.toufu-bg-box {
    position: relative;
}

.toufu-bg-img {
    /*position: fixed;*/
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
    height: 77vh;
}

.toufu-bg-img::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* 背景にグラデーションを入れる */
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
}

.toufu-bg-img-full {
    position: fixed;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
    height: 105vh;
}

.toufu-bg-img-full::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* 背景にグラデーションを入れる */
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
}

.toufu-bg-img-full-another {
    position: fixed;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
    height: 105vh;
}

.toufu-bg-img-full-another::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* 背景にグラデーションを入れる */
    
}

/* 使ってないけど、画像を丸く加工する */

.circle{
    width: 100%;
    /* これを%指定などで可変にする。またはJavaScriptで値を変化させる。 */
}

.circle-in {
    width: 100%;
    padding-top: 100%;
    border-radius: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


/* 観光案内用のやつ */
.toufu-wc-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.toufu-wc-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* 背景にグラデーションを入れる */
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.koko {
    color: rgb(rgb(77, 75, 221));
}