body {
    font-weight: 300;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: black;
    margin: 0px;
}

a {
    color: black;
}

a:hover {
    color: black;
}

a:visited {
    color: black;
}

.toufu-jp-font {
    font-size: 92%;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
    outline: none;
}


button.navbar-toggler:focus{
    outline:none;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.toufu-box{
    position: relative;
    height: 95vh;
}

.video-box {
    position: fixed;
    z-index: -1;
    top: 0;
    right:0;
    left:0;
    bottom:0;
    overflow: hidden;
}

.video {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
}


.video-text {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color:#fff;
    text-shadow: 0 0 15px #666;
}

.toufu-jumbo-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.toufu-jumbo-cover::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255, 0.95);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
position: relative;
top: 25%;
width: 100%;
left: 5rem;
margin-top: 0px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: large;
    color: black;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: black;
}

.overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 45px;
    font-size: 35px;
    padding-top: 0px;
}


.toufu-img-box {
    position: relative;
}

.toufu-img-box::before{
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%;
}

.toufu-img-box-inside {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.toufu-bg-box {
    position: relative;
}

.toufu-bg-img{
    height: 100vh;
}

/*background-attachment: fixed;が使えない対処法
https://stackoverflow.com/questions/26372127/background-fixed-no-repeat-not-working-on-mobile*/
.toufu-bg-img::before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url('../img/ikegawa-base.JPG') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.toufu-bg-img-full {
    position: fixed;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
    height: 105vh;
}

.toufu-bg-img-full::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
}

.toufu-bg-img-full-another {
    position: fixed;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
    height: 105vh;
}

.toufu-bg-img-full-another::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.circle{
    width: 100%;
}

.circle-in {
    width: 100%;
    padding-top: 100%;
    border-radius: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.toufu-wc-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.toufu-wc-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.koko {
    color: rgb(rgb(77, 75, 221));
}